<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @text_position.position %>
</p>


<%= link_to 'Edit', edit_text_position_path(@text_position) %> |
<%= link_to 'Back', text_positions_path %>
