<div class="span6">
    <div class="nexus">
      <div class="screen">
      	<%= image_tag "bclogo.png", :id => "img_prev", :alt => "your logo" %><p class="font" id="card_content">John Smith<br>Director<br>Sydney Dev Camp</p>

      </div>
    </div>
		
	</div>